# Question 1 : Frailty Analysis

In [125]:
import pandas as pd

In [126]:
df=pd.read_csv("/content/Project/data_raw/frality_raw_data.csv")

In [127]:
df.head()

   height  weight  age  grip_strength frailty
0    65.8     112   30             30       N
1    71.5     136   19             31       N
2    69.4     153   45             29       N
3    68.2     142   22             28       Y
4    67.8     144   29             24       Y

In [128]:
df["height_m"] = df["height"] * 0.0254
df["weight_kg"] = df["weight"] * 0.45359237
df.head()

   height  weight  age  grip_strength frailty  height_m  weight_kg
0    65.8     112   30             30       N   1.67132  50.802345
1    71.5     136   19             31       N   1.81610  61.688562
2    69.4     153   45             29       N   1.76276  69.399633
3    68.2     142   22             28       Y   1.73228  64.410117
4    67.8     144   29             24       Y   1.72212  65.317301

In [129]:
df["BMI"] = (df["weight"] / (df["height"]**2)).round(2)
df

   height  weight  age  grip_strength frailty  height_m  weight_kg   BMI
0    65.8     112   30             30       N   1.67132  50.802345  0.03
1    71.5     136   19             31       N   1.81610  61.688562  0.03
2    69.4     153   45             29       N   1.76276  69.399633  0.03
3    68.2     142   22             28       Y   1.73228  64.410117  0.03
4    67.8     144   29             24       Y   1.72212  65.317301  0.03
5    68.7     123   50             26       N   1.74498  55.791862  0.03
6    69.8     141   51             22       Y   1.77292  63.956524  0.03
7    70.1     136   23             20       Y   1.78054  61.688562  0.03
8    67.9     112   17             19       N   1.72466  50.802345  0.02
9    66.8     120   39             31       N   1.69672  54.431084  0.03

In [130]:
df["age_group"] = ""


df.loc[df["age"] < 30, "age_group"] = "<30"
df.loc[(df["age"] >= 30) & (df["age"] <=45), "age_group"] = "30-45"
df.loc[(df["age"]>=46) & (df["age"] <=60), "age_group"] = "40-60"
df.loc[df["age"] >60, "age_group"] = ">60"
df

,height,weight,age,grip_strength,frailty,height_m,weight_kg,BMI,age_group
0,65.8,112,30,30,N,1.67132,50.802345,0.03,30-45
1,71.5,136,19,31,N,1.81610,61.688562,0.03,<30
2,69.4,153,45,29,N,1.76276,69.399633,0.03,30-45
3,68.2,142,22,28,Y,1.73228,64.410117,0.03,<30
4,67.8,144,29,24,Y,1.72212,65.317301,0.03,<30
5,68.7,123,50,26,N,1.74498,55.791862,0.03,40-60
6,69.8,141,51,22,Y,1.77292,63.956524,0.03,40-60
7,70.1,136,23,20,Y,1.78054,61.688562,0.03,<30
8,67.9,112,17,19,N,1.72466,50.802345,0.02,<30
9,66.8,120,39,31,N,1.69672,54.431084,0.03,30-45

In [131]:
df["frailty_binary"] = df["frailty"].map({"Y": 1, "N": 0}).astype("int8")
df

,height,weight,age,grip_strength,frailty,height_m,weight_kg,BMI,age_group,frailty_binary
0,65.8,112,30,30,N,1.67132,50.802345,0.03,30-45,0
1,71.5,136,19,31,N,1.81610,61.688562,0.03,<30,0
2,69.4,153,45,29,N,1.76276,69.399633,0.03,30-45,0
3,68.2,142,22,28,Y,1.73228,64.410117,0.03,<30,1
4,67.8,144,29,24,Y,1.72212,65.317301,0.03,<30,1
5,68.7,123,50,26,N,1.74498,55.791862,0.03,40-60,0
6,69.8,141,51,22,Y,1.77292,63.956524,0.03,40-60,1
7,70.1,136,23,20,Y,1.78054,61.688562,0.03,<30,1
8,67.9,112,17,19,N,1.72466,50.802345,0.02,<30,0
9,66.8,120,39,31,N,1.69672,54.431084,0.03,30-45,0

In [132]:
df = pd.get_dummies(df, columns=['age_group'])
df

,height,weight,age,grip_strength,frailty,height_m,weight_kg,BMI,frailty_binary,age_group_30-45,age_group_40-60,age_group_<30
0,65.8,112,30,30,N,1.67132,50.802345,0.03,0,True,False,False
1,71.5,136,19,31,N,1.81610,61.688562,0.03,0,False,False,True
2,69.4,153,45,29,N,1.76276,69.399633,0.03,0,True,False,False
3,68.2,142,22,28,Y,1.73228,64.410117,0.03,1,False,False,True
4,67.8,144,29,24,Y,1.72212,65.317301,0.03,1,False,False,True
5,68.7,123,50,26,N,1.74498,55.791862,0.03,0,False,True,False
6,69.8,141,51,22,Y,1.77292,63.956524,0.03,1,False,True,False
7,70.1,136,23,20,Y,1.78054,61.688562,0.03,1,False,False,True
8,67.9,112,17,19,N,1.72466,50.802345,0.02,0,False,False,True
9,66.8,120,39,31,N,1.69672,54.431084,0.03,0,True,False,False

In [133]:
summary = df.describe().T[["mean", "std"]]
summary["median"] = df.median(numeric_only=True)

summary

                      mean        std      median
height           68.600000   1.670662   68.450000
weight          131.900000  14.231811  136.000000
age              32.500000  12.860361   29.500000
grip_strength    26.000000   4.521553   27.000000
height_m          1.742440   0.042435    1.738630
weight_kg        59.828834   6.455441   61.688562
BMI               0.029000   0.003162    0.030000
frailty_binary    0.400000   0.516398    0.000000

In [134]:
import os
os.makedirs("/content/Project/reports", exist_ok=True)
summary.to_markdown("/content/Project/reports/findings.md")

In [135]:
correlation = df["grip_strength"].corr(df["frailty_binary"])
correlation

np.float64(-0.4758668672668007)

In [136]:
with open("/content/Project/reports/findings.md", "a") as f:
    f.write("\n\n## Correlation Analysis\n")
    f.write(f"\nCorrelation between grip_strength and frailty_binary: {correlation:.4f}\n")

In [137]:
import shutil
shutil.make_archive("Project", "zip", "/content/Project")

'/content/Project.zip'